<div class="lightbox fixed inset-0 bg-black/90 backdrop-blur-sm z-[9999] hidden items-center justify-center opacity-0 transition-opacity duration-300">
    <img class="lightbox-img max-w-[92%] max-h-[92%] object-contain rounded-2xl shadow-2xl" src="" alt="Fullscreen photo">
    <button class="lightbox-close absolute top-6 right-6 text-3xl w-12 h-12 flex items-center justify-center hover:scale-120 bg-black/10 text-white hover:bg-white/40 rounded-full transition">
        <i class="fa-solid fa-circle-minus"></i>
    </button>
</div>