<div class="h-fit py-5 px-6 w-[calc(100%-1rem)] mx-auto my-2 flex flex-row items-center justify-between bg-black rounded-full">
    <div class="flex flex-row items-center gap-5">
        <img src="{{imagePath}}" alt="Arvi Jay" class="h-20 w-auto rounded-full shadow-lg">
        <div class="grid grid-rows-2">
            <div class="text-3xl w-full font-bold">Arvi Jay B. Tungpalan</div>
            <div class="text-xl w-full">11-Tech Pro C</div>
        </div>
    </div>
    <div class="text-5xl font-bold mr-5">{{title}}</div>
</div>